@using Apps.Models.Sys;
@using Apps.Web.Core;
@using Apps.Common;

@model Apps.Models.Sys.UserRoleInfoModel

@{
    ViewBag.Title = "Allot";
    Layout = "~/Views/Shared/_Index_Layout.cshtml";
    List<PermModel> perm = ViewBag.perm;
    if (perm == null)
    {
        perm = new List<PermModel>();
    }
}
<script src="@Url.Content("~/Scripts/jquery.easyui.plus.js")" type="text/javascript"></script>
<div class="mvctool bgb">
    @Html.ToolButton("btnSave","icon-save","保存",true,perm,"Save")
</div>
<table id="UserList"></table>

<script type="text/javascript">
    $(function () {
        $('#UserList').datagrid({
            url: '@Url.Action("GetRoleByUserId")?id='+'@ViewBag.userId',
            method: 'post',
            width: $(window).width() - 10,
            height: $(window).height() - 35,
            fitColumns: true,
            sortName: 'Id',
            sortOrder: 'desc',
            idField: 'Id',
            pageSize: 10,
            pageList: [10, 20, 30, 40, 50],
            pagination: true,
            striped: true,
            singleSelect: true,
            columns: [[
                { field: 'Id', title: 'ID', width: 80, hidden: true },
                { field: 'Name', title: '名称', width: 120 },
                { field: 'Description', title: '说明', width: 80 },
                {
                    field: 'Flag', title: '是否分配', width: 80, formatter: function (value) {
                        if (value != "0") {
                            return "<input type='checkbox' checked=true value='true'/>";
                        } else {
                            return "<input type='checkbox'   value='false'/>";
                        }
                    }
                }
            ]]
        });
    });
    /* 作者源码
     editor: { type: 'checkbox', options: {on:'1',off:'0'}
    ,
            onLoadSuccess: function () {
                var rows = $("#UserList").datagrid("getRows");
                for (var i = 0; i < rows.length; i++) {
                    //获取每一行的数据
                    $('#UserList').datagrid('beginEdit', i);
                }
            }
    */
</script>
<script type="text/javascript">
    $(function () {
        $('#btnSave').click(function () {
            var rows = $('#UserList').datagrid('getRows');
            var data = new Array();
            for (var i = 0; i < rows.length; i++) {
                var setFlag = $("td[field='Flag'] input").eq(i).prop("checked");
                if (setFlag) {
                    data.push(rows[i].Id);
                }
            }
            var roleIds = data.join();
            $.post("/SysUser/UpdateSysRoleSysUser", { userId: '@ViewBag.userId', roleIds: roleIds }, function (data) {
                if (data.tag == 1) {
                    window.parent.frameReturnByMes(data.message);
                    window.parent.frameReturnByReload(true);
                    window.parent.frameReturnByClose();
                } else {
                    window.parent.frameReturnByMes(data.message);
                }
            }, 'json')

        });

    });
</script>















