@using Apps.Common;
@using Apps.Web.Core;
@using Apps.Models.Sys;

@model Apps.Models.Sys.SysUserModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Index_LayoutEdit.cshtml";

    List<PermModel> perm = ViewBag.perm;
    if ( perm == null) {
        perm = new List<PermModel>();
    }
}

<table>
    <tbody>
        <tr>
            <td style="width:100px; text-align:right;">
                @Html.LabelFor(model => model.Id)：
            </td>
            <td style="width:310px">
                @Html.DisplayFor(model => model.Id)
            </td>
        </tr>
        <tr>
            <td style="width:100px; text-align:right;">
                @Html.LabelFor(model => model.UserName)：
            </td>
            <td style="width:310px">
                @Html.DisplayFor(model => model.UserName)
            </td>
        </tr>
        <tr>
            <td style="width:100px; text-align:right;">
                @Html.LabelFor(model => model.Password)：
            </td>
            <td style="width:310px">
                @Html.DisplayFor(model => model.Password)
            </td>
        </tr>
        <tr>
            <td style="width:100px; text-align:right;">
                @Html.LabelFor(model => model.TrueName)：
            </td>
            <td style="width:310px">
                @Html.DisplayFor(model => model.TrueName)
            </td>
        </tr>
        <tr>
            <td style="width:100px; text-align:right;">
                @Html.LabelFor(model => model.Card)：
            </td>
            <td style="width:310px">
                @Html.DisplayFor(model => model.Card)
            </td>
        </tr>
        <tr>
            <td style="width:100px; text-align:right;">
                @Html.LabelFor(model => model.MobileNumber)：
            </td>
            <td style="width:310px">
                @Html.DisplayFor(model => model.MobileNumber)
            </td>
        </tr>
        <tr>
            <td style="width:100px; text-align:right;">
                @Html.LabelFor(model => model.PhoneNumber)：
            </td>
            <td style="width:310px">
                @Html.DisplayFor(model => model.PhoneNumber)
            </td>
        </tr>
        <tr>
            <td style="width:100px; text-align:right;">
                @Html.LabelFor(model => model.QQ)：
            </td>
            <td style="width:310px">
                @Html.DisplayFor(model => model.QQ)
            </td>
        </tr>
        <tr>
            <td style="width:100px; text-align:right;">
                @Html.LabelFor(model => model.EmailAddress)：
            </td>
            <td style="width:310px">
                @Html.DisplayFor(model => model.EmailAddress)
            </td>
        </tr>
        <tr>
            <td style="width:100px; text-align:right;">
                @Html.LabelFor(model => model.OtherContact)：
            </td>
            <td style="width:310px">
                @Html.DisplayFor(model => model.OtherContact)
            </td>
        </tr>
        <tr>
            <td style="width:100px; text-align:right;">
                @Html.LabelFor(model => model.Province)：
            </td>
            <td style="width:310px">
                @Html.DisplayFor(model => model.Province)
            </td>
        </tr>
        <tr>
            <td style="width:100px; text-align:right;">
                @Html.LabelFor(model => model.City)：
            </td>
            <td style="width:310px">
                @Html.DisplayFor(model => model.City)
            </td>
        </tr>
        <tr>
            <td style="width:100px; text-align:right;">
                @Html.LabelFor(model => model.Village)：
            </td>
            <td style="width:310px">
                @Html.DisplayFor(model => model.Village)
            </td>
        </tr>
        <tr>
            <td style="width:100px; text-align:right;">
                @Html.LabelFor(model => model.Address)：
            </td>
            <td style="width:310px">
                @Html.DisplayFor(model => model.Address)
            </td>
        </tr>
        <tr>
            <td style="width:100px; text-align:right;">
                @Html.LabelFor(model => model.State)：
            </td>
            <td style="width:310px">
                @Html.DisplayFor(model => model._state)
            </td>
        </tr>
        <tr>
            <td style="width:100px; text-align:right;">
                @Html.LabelFor(model => model.Sex)：
            </td>
            <td style="width:310px">
                @Html.DisplayFor(model => model.Sex)
            </td>
        </tr>
        <tr>
            <td style="width:100px; text-align:right;">
                @Html.LabelFor(model => model.Marital)：
            </td>
            <td style="width:310px">
                @Html.DisplayFor(model => model.Marital)
            </td>
        </tr>
        <tr>
            <td style="width:100px; text-align:right;">
                @Html.LabelFor(model => model.Political)：
            </td>
            <td style="width:310px">
                @Html.DisplayFor(model => model.Political)
            </td>
        </tr>
        <tr>
            <td style="width:100px; text-align:right;">
                @Html.LabelFor(model => model.Nationality)：
            </td>
            <td style="width:310px">
                @Html.DisplayFor(model => model.Nationality)
            </td>
        </tr>
        <tr>
            <td style="width:100px; text-align:right;">
                @Html.LabelFor(model => model.Native)：
            </td>
            <td style="width:310px">
                @Html.DisplayFor(model => model.Native)
            </td>
        </tr>
        <tr>
            <td style="width:100px; text-align:right;">
                @Html.LabelFor(model => model.School)：
            </td>
            <td style="width:310px">
                @Html.DisplayFor(model => model.School)
            </td>
        </tr>
        <tr>
            <td style="width:100px; text-align:right;">
                @Html.LabelFor(model => model.Professional)：
            </td>
            <td style="width:310px">
                @Html.DisplayFor(model => model.Professional)
            </td>
        </tr>
        <tr>
            <td style="width:100px; text-align:right;">
                @Html.LabelFor(model => model.Degree)：
            </td>
            <td style="width:310px">
                @Html.DisplayFor(model => model.Degree)
            </td>
        </tr>
        <tr>
            <td style="width:100px; text-align:right;">
                @Html.LabelFor(model => model.DepId)：
            </td>
            <td style="width:310px">
                @Html.DisplayFor(model => model.DepId)
            </td>
        </tr>
        <tr>
            <td style="width:100px; text-align:right;">
                @Html.LabelFor(model => model.PosId)：
            </td>
            <td style="width:310px">
                @Html.DisplayFor(model => model.PosId)
            </td>
        </tr>
        <tr>
            <td style="width:100px; text-align:right;">
                @Html.LabelFor(model => model.Expertise)：
            </td>
            <td style="width:310px">
                @Html.DisplayFor(model => model.Expertise)
            </td>
        </tr>
        <tr>
            <td style="width:100px; text-align:right;">
                @Html.LabelFor(model => model.JobState)：
            </td>
            <td style="width:310px">
                @Html.DisplayFor(model => model.JobState)
            </td>
        </tr>
        <tr>
            <td style="width:100px; text-align:right;">
                @Html.LabelFor(model => model.Photo)：
            </td>
            <td style="width:310px">
                @Html.DisplayFor(model => model.Photo)
            </td>
        </tr>
        <tr>
            <td style="width:100px; text-align:right;">
                @Html.LabelFor(model => model.Attach)：
            </td>
            <td style="width:310px">
                @Html.DisplayFor(model => model.Attach)
            </td>
        </tr>
    </tbody>
</table>

