@using Apps.Common;
@using Apps.Models.Sys;

@model Apps.Models.Sys.MIS_Article_CategoryModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Index_LayoutEdit.cshtml";

    List<PermModel> perm = ViewBag.perm;
    if (perm == null)
    {
        perm = new List<PermModel>();
    }

}

<table>
    <tbody>
        <tr>
            <td style="width:100px; text-align:right;">
                @Html.LabelFor(model => model.Id)：
            </td>
            <td style="width:310px">
                @Html.DisplayFor(model => model.Id)
            </td>
        </tr>
        <tr>
            <td style="width:100px; text-align:right;">
                @Html.LabelFor(model => model.ChannelId)：
            </td>
            <td style="width:310px">
                @Html.DisplayFor(model => model.ChannelId)
            </td>
        </tr>
        <tr>
            <td style="width:100px; text-align:right;">
                @Html.LabelFor(model => model.Name)：
            </td>
            <td style="width:310px">
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <td style="width:100px; text-align:right;">
                @Html.LabelFor(model => model.ParentId)：
            </td>
            <td style="width:310px">
                @Html.DisplayFor(model => model.ParentId)
            </td>
        </tr>
        <tr>
            <td style="width:100px; text-align:right;">
                @Html.LabelFor(model => model.Sort)：
            </td>
            <td style="width:310px">
                @Html.DisplayFor(model => model.Sort)
            </td>
        </tr>
        <tr>
            <td style="width:100px; text-align:right;">
                @Html.LabelFor(model => model.ImgUrl)：
            </td>
            <td style="width:310px">
                @Html.DisplayFor(model => model.ImgUrl)
            </td>
        </tr>
        <tr>
            <td style="width:100px; text-align:right;">
                @Html.LabelFor(model => model.BodyContent)：
            </td>
            <td style="width:310px">
                @Html.DisplayFor(model => model.BodyContent)
            </td>
        </tr>
        <tr>
            <td style="width:100px; text-align:right;">
                @Html.LabelFor(model => model.CreateTime)：
            </td>
            <td style="width:310px">
                @Html.DisplayFor(model => model.CreateTime)
            </td>
        </tr>
        <tr>
            <td style="width:100px; text-align:right;">
                @Html.LabelFor(model => model.Enable)：
            </td>
            <td style="width:310px">
                @Html.DisplayFor(model => model.Enable)
            </td>
        </tr>

    </tbody>
</table>





