
@using Apps.Common;
@using Apps.Models.Sys;
@using Apps.Web.Core;

@model Apps.Models.Sys.MIS_Article_CategoryModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Index_LayoutEdit.cshtml";

    List<PermModel> perm = ViewBag.perm;
    if (perm == null)
    {
        perm = new List<PermModel>();
    }
}

<script type="text/javascript">
    $(function () {
        $('#btnSave').click(function () {
            $.ajax({
                url: '@Url.Action("Edit")',
                type: 'post',
                data: $('#EditForm').serialize(),
                dataType: 'json',
                success: function (data) {
                    if (data.tag == 1) {
                        window.parent.frameReturnByMes(data.message);
                        window.parent.frameReturnByReload(true);
                        window.parent.frameReturnByClose()
                    } else {
                        window.parent.frameReturnByMes(data.message);
                    }
                }
            });
        });
        $("#btnReturn").click(function () {
            window.parent.frameReturnByClose();
        });

    });

</script>


<div class="mvctool bgb">
    @Html.ToolButton("btnSave", "icon-save", "保存", true, perm, "Save")
    @Html.ToolButton("btnReturn", "icon-return", "返回", false)
</div>

@using (Html.BeginForm("Create", "MIS/Category", null, FormMethod.Post, new { id = "EditForm" }))
{
    <table class="fromEditTable setTextWidth300">
        <tbody>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.Id)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.Id)
                </td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.ChannelId)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.ChannelId)
                </td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.Name)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.ParentId)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.ParentId)
                </td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.Sort)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.Sort)
                </td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.ImgUrl)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.ImgUrl)
                </td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.BodyContent)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.BodyContent)
                </td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.CreateTime)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.CreateTime)
                </td>
            </tr>
            <tr>
                <td style="width:100px; text-align:right;">
                    @Html.LabelFor(model => model.Enable)：
                </td>
                <td style="width:310px">
                    @Html.EditorFor(model => model.Enable)
                </td>
            </tr>

        </tbody>
    </table>
}










