@using Apps.Models.Sys;
@using Apps.Common;
@using Apps.Web.Core;

@model Apps.Models.Sys.SysRoleModel


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Index_LayoutEdit.cshtml";

    List<PermModel> perm = ViewBag.perm;
    if ( perm == null )
    {
        perm = new List<PermModel>();
    }
}

<script type="text/javascript">
    $(function () {
        $('#btnSave').click(function () {
            $.ajax({
                url: '@Url.Action("Create")',
                type: 'post',
                data: $('#CreateForm').serialize(),
                dataType: 'json',
                success: function (data) {
                    if (data.tag == 1) {
                        window.parent.frameReturnByMes(data.message);
                        window.parent.frameReturnByReload(true);
                        window.parent.frameReturnByClose();
                    } else {
                        window.parent.frameReturnByMes(data.message);
                    }
                }
            });
        });

        $('#btnReturn').click(function () {
            window.parent.frameReturnByClose();
        });
    })
</script>

<div class="mvctool bgb">
    @Html.ToolButton("btnSave","icon-save","保存",true,perm,"Save")
    @Html.ToolButton("btnReturn", "icon-return", "返回", false)
</div>

@using (Html.BeginForm("Create", "SysRole", null, FormMethod.Post, new { Id = "CreateForm" }))
{
    <table class="fromEditTable setTextWidth300">
        <tbody>
            <tr>
                <td style="width:100px; text-align : right;">
                    @Html.LabelFor( model => model.Id )
                </td>
                <td style="width:310px;">
                    @Html.EditorFor( model => model.Id)
                </td>
            </tr>
            <tr>
                <td style="width:100px; text-align : right;">
                    @Html.LabelFor(model => model.Name)
                </td>
                <td style="width:310px;">
                    @Html.EditorFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <td style="width:100px; text-align : right;">
                    @Html.LabelFor(model => model.Description)
                </td>
                <td style="width:310px;">
                    @Html.TextAreaFor(model => model.Description)
                </td>
            </tr>

        </tbody>
    </table>
}
