@using Apps.Models.Sys;

@model Apps.Models.Sys.SysRoleModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Index_LayoutEdit.cshtml";

    List<PermModel> perm = ViewBag.perm;
    if (perm == null)
    {
        perm = new List<PermModel>();
    }
}

<table class="fromEditTable setTextWidth300">
    <tbody>
        <tr>
            <td style="width:100px; text-align : right;">
                @Html.LabelFor(model => model.Id):
            </td>
            <td style="width:310px;">
                @Html.DisplayFor(model => model.Id)
            </td>
        </tr>
        <tr>
            <td style="width:100px; text-align : right;">
                @Html.LabelFor(model => model.Name):
            </td>
            <td style="width:310px;">
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <td style="width:100px; text-align : right;">
                @Html.LabelFor(model => model.Description):
            </td>
            <td style="width:310px;">
                @Html.DisplayFor(model => model.Description)
            </td>
        </tr>
        <tr>
            <td style="width:100px; text-align : right;">
                @Html.LabelFor(model => model.CreateTime):
            </td>
            <td style="width:310px;">
                @Html.DisplayFor(model => model.CreateTime)
            </td>
        </tr>
        <tr>
            <td style="width:100px; text-align : right;">
                @Html.LabelFor(model => model.CreatePerson):
            </td>
            <td style="width:310px;">
                @Html.DisplayFor(model => model.CreatePerson)
            </td>
        </tr>
    </tbody>
</table>

